.c-block {
  border: 1px solid $brand-primary;
  text-align: center;
  padding: 3em 1.5em;

  &__title {
    @include font-size(24px);
    font-family: $font-family-base;
    font-weight: bold;
    margin-top: 0;
  }

  &__text {
    margin-bottom: 2em;
  }

  &__image {
    width: 100%;
  }

  &--thin {
    padding: 0;
  }

  &--secondary {
    border-color: #eee;
  }

  &__list {
    list-style: none;
    text-align: left;
    margin: 0;
  }

  &__item {
    padding: 1em;

    & + & {
      border-top: 1px solid #eee;
    }
  }
}
