.c-main-footer {
  &__upper {
    background: #ebebeb;
    border-bottom: 1px solid #d9d9d9;
    padding: 1em $gutter;
  }

  &__lower {
    overflow: hidden;
    background: #fafafa;
    border-top: 1px solid #fff;
    padding: 2em $gutter;
  }
}


.c-main-footer__text {
  color: #444;

  @media (min-width: 48em) {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2em;
  }
}
