.c-form {
  .o-label,
  .o-btn {
    margin-top: 1.5em;
  }

  &--inline {
    display: inline-block;

    .o-input {
      min-width: 15em;

      @media (max-width: 47.99em) {
        width: 100%;
      }
    }

    .o-btn {
      float: right;

      @media (min-width: 48em) {
        float: none;
        margin-top: 0;
        margin-left: .75em;
      }
    }
  }

  &__hint {
    @include font-size(13px);
    color: #999;
    margin: 0;
  }


  @media (min-width: 48em) {
    .o-row:first-child {
      .o-label {
        margin-top: 0;
      }
    }
  }
}
