.c-form {
  .o-label,
  .o-btn {
    margin-top: 1.5em;
  }

  &--inline {
    display: inline-block;

    .o-input {
      min-width: 15em;
    }

    .o-btn {
      margin-top: 0;
      margin-left: .75em;
    }
  }
}
