.c-secondary-nav {
  list-style: none;
  margin: 0;

  @media (min-width: 42em) {
    float: left;
  }

  &__item {
    @media (min-width: 32em) {
      display: inline-block;

      & + & {
        margin-left: 3.25em;
      }
    }
  }

  &__link {
    @include font-size(14px);
    line-height: 3;
    color: #666;
    text-decoration: none;
    font-weight: bold;

    &:before {
      content: '';
      display: inline-block;
      @include triangle(5px, right);
      margin-right: .75em;
    }
  }
}
