.c-review {
  padding-top: 3em;

  &--1 {
    padding-top: 0;
  }

  &--2 {
    @media (min-width: 48em) {
      padding-top: 0;
    }
  }

  &__title {
    margin: 0;
    font-family: $font-family-base;
    @include font-size(24px);
  }

  &__author {
    margin-bottom: 0;

    &:before {
      content: '';
      display: block;
      width: 170px;
      border-top: 1px solid $brand-primary;
      padding-top: 1em;
    }
  }
}
