.c-social-list {
  margin: 2em 0 0;

  @media (max-width: 47.99em) {
    text-align: center;
  }

  @media (min-width: 42em) {
    float: right;
    margin-top: 0;
  }

  &__item {
    & + & {
      margin-left: 2em;
    }
  }
}
