.c-toggle-box {
  margin-bottom: 2em;

  &__input {
    opacity: 0;
    position: absolute;
  }

  &__text {
    @include font-size(21px);
    margin: .25em 0;
  }
}

.c-toggle-box__input:checked + .c-toggle-box__btn {
  box-shadow: none;
  transform: translate(0);
  background-color: $brand-dark;
}
