.u-sr {
  /*
   * Hide only visually, but have it available for screenreaders: h5bp.com/v
   */
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.u-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.u-mb-extra {
  margin-bottom: 3em;
}

.u-text-center {
  text-align: center;
}

.u-pull-right {
  float: right;
}

.u-hidden-xs {
  @media (max-width: 39.99em) {
    display: none;
  }
}

.u-hidden-sm {
  @media (min-width: 40em) and (max-width: 47.99em) {
    display: none;
  }
}

.u-hidden-md {
  @media (min-width: 48em) and (max-width: 59.99em) {
    display: none;
  }
}
