// Colors
$brand-primary:    #0096CA;
$brand-dark:    #0077A0;

// Objects
$text-color:       #333;
$link-color:       $brand-primary;
$link-hover-color: $brand-dark;

$selection-bg-color: $link-color;
$selection-text-color: $text-color;

$btn-color-primary: #fff;

// Typography
$font-family-base: Lato, sans-serif;
$font-family-titles: Panton, sans-serif;

$gutter: 2em;
