.o-btn,
a.o-btn,
button.o-btn {
  font-family: $font-family-titles;
}

.o-btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  margin: 0;
  transition: all .2s ease-out;
  border: none;
  line-height: 1;
  padding: 1em 1.5em;
  border-radius: 3px;
  transform: translateY(-4px);

  &,
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

  &:active {
    box-shadow: none;
    transform: translateY(0);
  }

  &--primary {
    background-color: $brand-primary;
    box-shadow: 0 4px 0 $brand-dark;

    &,
    &:hover,
    &:active,
    &:focus {
      color: $btn-color-primary;
    }
  }

  &--sm {
    padding: .75em 1.25em;
  }

  &--lg {
    @include font-size(24px);
  }

  &--full {
    width: 100%;
  }
}
