.o-input {
  vertical-align: middle;
  line-height: 2.5;
  height: 2.5em; // required by IE
  padding: 0 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 0 rgba(0,0,0,.1);

  &--full {
    width: 100%;
  }
}

select.o-input {

}

.o-input[type="file"] {
  height: auto;
  line-height: 1;
  padding-top: .5em;
  padding-bottom: .5em;
}
