.o-table {
  /*!
  // IE needs inline-block to position scrolling shadows otherwise use:
  // display: block;
  // max-width: min-content;
  */
  display: inline-block;
  vertical-align: top;
  max-width: 100%;

  overflow-x: auto;

  // optional - looks better for small cell values
  white-space: nowrap;

  border-collapse: collapse;
  border-spacing: 0;

  // optional - enable iOS momentum scrolling
  -webkit-overflow-scrolling: touch;

  // scrolling shadows
  background: radial-gradient(left, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 0 center,
              radial-gradient(right, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 100% center;
  background-size: 10px 100%, 10px 100%;
  background-attachment: scroll, scroll;
  background-repeat: no-repeat;

  text-align: left;

  thead {
    border-bottom: 1px solid #eee;
  }

  tr + tr {
    border-top: 1px solid #f8f8f8;
  }

  th {
    background: #fff;
  }

  th,
  td {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  thead th {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }

  th:first-child {
    padding-left: 0;
  }

  th a {
    color: $text-color;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  img {
    margin-right: .25em;
  }

  td {
    height: 4em;
  }

  a.o-btn {
    @include font-size(14px);
    font-family: $font-family-base;
    width: 180px;
  }
}

// change these gradients from white to your background colour if it differs
// gradient on the first cells to hide the left shadow
.o-table td:first-child {
  background-image: linear-gradient(to right, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
  background-repeat: no-repeat;
  background-size: 20px 100%;
}

// gradient on the last cells to hide the right shadow
.o-table td:last-child {
  background-image: linear-gradient(to left, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 20px 100%;
}
