@include font-face('Panton', '../fonts/panton-blackcaps-webfont', 700);

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-titles;
}

.o-h1 {
  @include font-size(42px);
}

.o-h2 {
  @include font-size(40px);
  text-align: center;
  margin-top: 0;

  section + & {
    margin-top: 2em;
  }
}

.o-headline {
  display: block;
  font-family: $font-family-titles;
  @include font-size(32px);
  margin: 0 0 1em;
}
